<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.XiyixinxiMapper">
	<resultMap id="BaseResultMap" type="com.entity.Xiyixinxi">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="bianhao" jdbcType="VARCHAR" property="bianhao" />		<result column="xiyifangfa" jdbcType="VARCHAR" property="xiyifangfa" />		<result column="yifuleixing" jdbcType="VARCHAR" property="yifuleixing" />		<result column="zhuyineirong" jdbcType="VARCHAR" property="zhuyineirong" />		<result column="jiage" jdbcType="VARCHAR" property="jiage" />		<result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
		<result column="addtime" jdbcType="VARCHAR" property="addtime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bianhao,xiyifangfa,yifuleixing,zhuyineirong,jiage,beizhu, addtime
	</sql>
	<select id="quchongXiyixinxi" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi
		where bianhao = #{bianhao,jdbcType=VARCHAR} limit 0,1
	</select>
	<select id="getCount" resultType="int" parameterType="java.util.Map">
		select count(*) from xiyixinxi where 1=1
		<if test="bianhao!=null">and bianhao like
			concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>		<if test="xiyifangfa!=null">and xiyifangfa like			concat('%',#{xiyifangfa,jdbcType=VARCHAR},'%')</if>		<if test="yifuleixing!=null">and yifuleixing like			concat('%',#{yifuleixing,jdbcType=VARCHAR},'%')</if>		<if test="zhuyineirong!=null">and zhuyineirong like			concat('%',#{zhuyineirong,jdbcType=VARCHAR},'%')</if>		<if test="jiage1!=null">and jiage &gt;= concat('',#{jiage1,jdbcType=VARCHAR},'')		</if>		<if test="jiage2!=null">and jiage &lt;= concat('',#{jiage2,jdbcType=VARCHAR},'')		</if>		<if test="beizhu!=null">and beizhu like concat('%',#{beizhu,jdbcType=VARCHAR},'%')		</if>
	</select>
	<select id="getAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi where 1=1
		<if test="bianhao!=null">
			and bianhao =#{bianhao}
		</if>
	</select>

	<select id="getsyxiyixinxi1" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi where 1=1
		limit 0,5
	</select>
	<select id="getsyxiyixinxi2" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi where 1=1
		limit 0,5
	</select>
	<select id="getsyxiyixinxi3" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi where 1=1
		limit 0,5
	</select>

	<select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi where 1=1
		<if test="bianhao!=null">and bianhao like
			concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>		<if test="xiyifangfa!=null">and xiyifangfa like			concat('%',#{xiyifangfa,jdbcType=VARCHAR},'%')</if>		<if test="yifuleixing!=null">and yifuleixing like			concat('%',#{yifuleixing,jdbcType=VARCHAR},'%')</if>		<if test="zhuyineirong!=null">and zhuyineirong like			concat('%',#{zhuyineirong,jdbcType=VARCHAR},'%')</if>		<if test="jiage1!=null">and jiage &gt;= concat('',#{jiage1,jdbcType=VARCHAR},'')		</if>		<if test="jiage2!=null">and jiage &lt;= concat('',#{jiage2,jdbcType=VARCHAR},'')		</if>		<if test="beizhu!=null">and beizhu like concat('%',#{beizhu,jdbcType=VARCHAR},'%')		</if>		order by id desc
		<if test="pageno!=null and pageSize!=null">
			limit #{pageno},#{pageSize}
		</if>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xiyixinxi
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from xiyixinxi
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.entity.Xiyixinxi">
		insert into xiyixinxi (id,
		bianhao,xiyifangfa,yifuleixing,zhuyineirong,jiage,beizhu, addtime)
		values (#{id,jdbcType=INTEGER},
		#{bianhao,jdbcType=VARCHAR},#{xiyifangfa,jdbcType=VARCHAR},#{yifuleixing,jdbcType=VARCHAR},#{zhuyineirong,jdbcType=VARCHAR},#{jiage,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR},
		#{addtime,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.entity.Xiyixinxi">
		insert into xiyixinxi
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bianhao != null"> bianhao, </if>			<if test="xiyifangfa != null"> xiyifangfa, </if>			<if test="yifuleixing != null"> yifuleixing, </if>			<if test="zhuyineirong != null"> zhuyineirong, </if>			<if test="jiage != null"> jiage, </if>			<if test="beizhu != null"> beizhu, </if>
			<if test="addtime != null">
				addtime,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bianhao != null"> #{bianhao,jdbcType=VARCHAR},</if>			<if test="xiyifangfa != null"> #{xiyifangfa,jdbcType=VARCHAR},</if>			<if test="yifuleixing != null"> #{yifuleixing,jdbcType=VARCHAR},</if>			<if test="zhuyineirong != null"> #{zhuyineirong,jdbcType=VARCHAR},</if>			<if test="jiage != null"> #{jiage,jdbcType=VARCHAR},</if>			<if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>
			<if test="addtime != null">
				#{addtime,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.entity.Xiyixinxi">
		update xiyixinxi
		<set>
			<if test="bianhao != null"> bianhao = #{bianhao,jdbcType=VARCHAR},</if>			<if test="xiyifangfa != null"> xiyifangfa = #{xiyifangfa,jdbcType=VARCHAR},</if>			<if test="yifuleixing != null"> yifuleixing = #{yifuleixing,jdbcType=VARCHAR},</if>			<if test="zhuyineirong != null"> zhuyineirong = #{zhuyineirong,jdbcType=VARCHAR},</if>			<if test="jiage != null"> jiage = #{jiage,jdbcType=VARCHAR},</if>			<if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKey" parameterType="com.entity.Xiyixinxi">
		update xiyixinxi
		set bianhao = #{bianhao,jdbcType=VARCHAR},xiyifangfa =
		#{xiyifangfa,jdbcType=VARCHAR},yifuleixing =
		#{yifuleixing,jdbcType=VARCHAR},zhuyineirong =
		#{zhuyineirong,jdbcType=VARCHAR},jiage =
		#{jiage,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR}, addtime
		= #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
